@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital-7.ttf') format('truetype');
}

body {
  background: #000000;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-border {
  border: 2px solid #FF0080;
}

.card-border-citrus {
  border: 2px solid #CCFF00;
}
